table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

.watched-button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;

  background: #E70E79;
  color: white;
  border-radius: 10px;
  display: block;
  box-shadow: -2px 2px 6px #aaa;
  padding: 10px 46px;
  letter-spacing: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
